HTTP_ADDR=:8080
DB_URL=postgres://postgres:postgres@localhost:5433/mdb?sslmode=disable

OMDB_API_KEY=PUT_YOUR_KEY_HERE
OMDB_BASE_URL=https://www.omdbapi.com/
OMDB_TIMEOUT_SEC=5

REC_GRPC_ADDR=localhost:50051
REC_TIMEOUT_SEC=3
