{{define "content"}}
<section class="section">
  <div class="section__head">
    <h2 class="section__title">{{.Heading}}</h2>
  </div>

  <div class="grid" id="grid-list">
    {{template "skeleton_grid" .}}
  </div>
</section>
{{end}}

{{define "skeleton_grid"}}
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
  <div class="gridcard skeleton"></div>
{{end}}